.BlackLogo {
    height: 2.5em;
    display: flex;
    width: 15em;

    .Logo {
      margin: 0.2em;
    }
    .Name {
      height: 1.5em;
      margin: 0.4em;
    }
}

.WhiteLogo {
  height: 2.5em;
  display: flex;
  width: 15em;

  .Logo {
    margin: 0.2em;
  }
  .Name {
    height: 1.5em;
    margin: 0.4em;
  }
}

.OrangeLogo {
  height: 6em;
  display: flex;
  margin: 2em 0;

  .Logo {
    margin: 0.2em;
  }
  .Name {
    margin: 0.4em;
  }
}
