.Filter {
  .buttons {
    display: flex;
    justify-content: flex-end;
    position: relative;
  }

  button {
  background-color: black;
  color: white;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
  }

  .dropdown {
    border: 1px solid black;
    border-radius: 10px;
    width: 200px;

    z-index: 10000;

    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0;
    position: absolute;

    ul{
      text-decoration: none;
      margin-left: 0;
      padding: 0 10%;

      li {
      font-size: 1em;
      padding: 0.6em 1em;
      border-bottom: 1px solid white;
      list-style: none;
      cursor: pointer;

      width: 100%;
      margin: 0 ;
    }
    .last {
      border-bottom: 0;
    }
   }
  }
  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}