.Menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: white;

display: none;

nav {
  
  .Name {
    opacity: 0;
  }

  .close {
    font-size: 2em;
    margin: 0.2em 0.2em 0.2em 0.35em;
    color: black;
    font-size: 2em;
  }
}



.menuitems {
  margin: 5em 20%;

  h1 {
    font-size: 3.5em;
    border-bottom: 1px solid black;
    padding:0.5em 0;
  }
}


  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}