.Menu {
  position: fixed;
  top: 3.5em;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: white;

.menuitems {
  margin: 5em 20%;

  a {
    color: black;
  }

  h1 {
    font-size: 3.5em;
    border-bottom: 1px solid black;
    padding:0.5em 0;
  }
}


  // XS - Phone
  @media (max-width: 480px) {
    top: 3.3em;

    .menuitems{
      margin: 0.8em 20%;

      h1 {
        font-size: 2.5em;
        padding: 0.9em 0;
      }
    }
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    top: 3.3em;

    .menuitems{
      margin: 2em 20%;

      h1 {
        font-size: 2.5em;
        padding: 0.8em 0;
      }
    }
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}