.Producttile {
  width: 100%;
  position:relative;
  margin-top: 2em;

  .price {
    position:absolute;
    top: -1em;
    right: -1em;

    padding: 0.7em 0.3em;
    width: 3em;
    height: 3em;
  }

  h3 {
    font-size: 1.3em;
  }
  h4{
    font-size: 1.2em;
  }

  h5{
    text-align: right;
  }

  .Shopitem {
    display: flex;
    justify-content: space-between;
  }

  .ShoppingButton {
    font-size: 1em;
    margin-left: 1em;
    padding: 0.5em 0;
    
  }

  // XS - Phone
  @media (max-width: 480px) {
    margin-top: 0;
    margin-bottom: 0;
    
    h3 {
      font-size: 1.5em;
      margin-top: -0.5em;
    }
    h4 {
      font-size: 1em;
    }
    .ShoppingButton {
      padding: 0;
      margin-top: -1em;
    }
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
    h3 {
      font-size: 1.4em;
    }
    h4 {
      font-size:1em;
      
    }
    .Shopitem {
      display: block;
      
      
      .ShoppingButton {
        padding: 0;
        margin-top: 0;
        justify-content:end;
      }
    }
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}