/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  text-decoration: none;
}

/** FONTS **/
/*! main-text-regular */
@font-face {
  font-family: "main-text-regular";
  src: url("../fonts/rouna-regular-webfont.woff") format("woff"), url("../fonts/rouna-regular-webfont.woff2") format("woff2");
}
/*! main-text-bold */
@font-face {
  font-family: "main-text-bold";
  src: url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.woff2") format("woff2");
}
/*! menu-items */
@font-face {
  font-family: "menu-items";
  src: url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.woff2") format("woff2");
}
/*! main-text-link */
@font-face {
  font-family: "main-text-link";
  src: url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.woff2") format("woff2");
}
/*! heading */
@font-face {
  font-family: "heading";
  src: url("../fonts/rouna-bold-webfont.woff") format("woff"), url("../fonts/rouna-bold-webfont.woff2") format("woff2");
}
/** CUSTOM PROPERTIES **/
:root {
  /** COLOR **/
  /*! Background Color */
  /*! base */
  --bg-base: #000;
  --bg-base-light-50: gray;
  --bg-base-dark-50: black;
  /*! highlight */
  --bg-highlight: #e84e0f;
  --bg-highlight-light-25: #f7a280;
  --bg-highlight-light-50: #fffaf7;
  --bg-highlight-dark-25: #702607;
  --bg-highlight-dark-50: black;
  /*! Foreground Color */
  /*! base */
  --fg-base: #000;
  --fg-base-light-50: gray;
  --fg-base-dark-50: black;
  /*! highlight */
  --fg-highlight: #e84e0f;
  --fg-highlight-light-25: #f7a280;
  --fg-highlight-light-50: #fffaf7;
  --fg-highlight-dark-25: #702607;
  --fg-highlight-dark-50: black;
  /** FONT **/
  --main-text-regular: "main-text-regular";
  --main-text-bold: "main-text-bold";
  --menu-items: "menu-items";
  --main-text-link: "main-text-link";
  --all-transition: all 0.4s ease;
  --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.45);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-white);
  font-family: "main-text-regular", sans-serif;
  font-size: 0.95rem;
  font-weight: 100;
}

/** UTILITY: Colors **/
/*! Background Color */
/*! base */
.bg-base {
  background-color: var(--bg-base);
}

.bg-base-light-50 {
  background-color: var(--bg-base-light-50);
}

.bg-base-dark-50 {
  background-color: var(--bg-base-dark-50);
}

/*! highlight */
.bg-highlight {
  background-color: var(--bg-highlight);
}

.bg-highlight-light-25 {
  background-color: var(--bg-highlight-light-25);
}

.bg-highlight-light-50 {
  background-color: var(--bg-highlight-light-50);
}

.bg-highlight-dark-25 {
  background-color: var(--bg-highlight-dark-25);
}

.bg-highlight-dark-50 {
  background-color: var(--bg-highlight-dark-50);
}

/*! Foreground Color */
/*! base */
.fg-base {
  color: var(--fg-base);
}

.fg-base-light-50 {
  color: var(--fg-base-light-50);
}

.fg-base-dark-50 {
  color: var(--fg-base-dark-50);
}

/*! highlight */
.fg-highlight {
  color: var(--fg-highlight);
}

.fg-highlight-light-25 {
  color: var(--fg-highlight-light-25);
}

.fg-highlight-light-50 {
  color: var(--fg-highlight-light-50);
}

.fg-highlight-dark-25 {
  color: var(--fg-highlight-dark-25);
}

.fg-highlight-dark-50 {
  color: var(--fg-highlight-dark-50);
}

.main-text-regular-20 {
  font-family: "main-text-regular";
  font-size: 1.25rem;
}

.main-text-bold-20 {
  font-family: "main-text-bold";
  font-size: 1.25rem;
}

.menu-items-120 {
  font-family: "menu-items";
  font-size: 7.5rem;
}

.main-text-link-16 {
  font-family: "main-text-link";
  font-size: 1rem;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.is-flex {
  display: flex;
}

.is-row {
  flex-direction: row;
}

.is-column {
  flex-direction: column;
}

.float-right {
  justify-content: flex-end;
}

.float-start {
  justify-content: flex-start;
}

.float-center {
  justify-content: center;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

h1 {
  font-family: "heading";
  font-size: 3.125rem;
}

h2 {
  font-family: "heading";
  font-size: 1.5rem;
}

h3 {
  font-family: "heading";
  font-size: 1.875rem;
}

h4 {
  font-family: "heading";
  font-size: 1.5rem;
}

h5 {
  font-family: "heading";
  font-size: 0.875rem;
}

h6 {
  font-family: "heading";
  font-size: 1rem;
}

button {
  border-radius: 30px;
  padding: 0.3em 0.5em;
  margin: 0.5em;
  border: none;
}

.Textbutton {
  padding: 0.3em 1em;
  border: none;
  color: white;
}

img {
  border-radius: 10px;
}
img .Cover {
  height: 10em;
}
img .Lp {
  height: 10em;
}
.ShoppingButton {
  display: flex;
  justify-content: space-between;
}
.ShoppingButton .Arrow {
  margin: 1em 0.5em 1em 0;
}
.price {
  border-radius: 30px;
  color: white;
  padding-top: 0.2em;
}
.price .getal {
  border: none;
  width: 100%;
  color: white;
  text-align: center;
}

.BlackLogo {
  height: 2.5em;
  display: flex;
  width: 15em;
}
.BlackLogo .Logo {
  margin: 0.2em;
}
.BlackLogo .Name {
  height: 1.5em;
  margin: 0.4em;
}

.WhiteLogo {
  height: 2.5em;
  display: flex;
  width: 15em;
}
.WhiteLogo .Logo {
  margin: 0.2em;
}
.WhiteLogo .Name {
  height: 1.5em;
  margin: 0.4em;
}

.OrangeLogo {
  height: 6em;
  display: flex;
  margin: 2em 0;
}
.OrangeLogo .Logo {
  margin: 0.2em;
}
.OrangeLogo .Name {
  margin: 0.4em;
}

.Menudiv {
  margin-top: 0.4em;
}
.Menudiv .Smallbar {
  background-color: black;
  border-radius: 20px;
  height: 0.4em;
  width: 1.8em;
}
.Menudiv .Longerbar {
  background-color: black;
  border-radius: 20px;
  height: 0.4em;
  width: 2.6em;
  margin: 0.3em 0;
}

.close {
  font-size: 2em;
  margin: 0.2em 0.2em 0.2em 0.35em;
  color: black;
  font-size: 2em;
}

h2 {
  margin-bottom: 0;
  padding: 0;
}
.Input {
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: "heading";
  padding: 0.2em 0.8em;
}
.Input:focus {
  outline: none;
}
.Searchbutton {
  border-radius: 100%;
  border: none;
  background-color: white;
  padding: 0;
  margin-right: 0;
}
.Searchbutton img {
  width: 3em;
}
a {
  color: white;
}
nav {
  width: 100%;
  height: 3.5em;
  padding: 0.5em 10%;
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  justify-content: space-between;
}
nav .Navbar {
  height: 2em;
  display: flex;
  justify-content: flex-end;
}
nav .Navbar .shopButton {
  position: relative;
}
nav .Navbar .shopButton button {
  margin: 0.2em 2em;
}
nav .Navbar .shopButton h5 {
  position: absolute;
  bottom: -1em;
  right: 3em;
  border-radius: 50px;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.6em;
  color: white;
  text-align: center;
}
nav .Iconbutton {
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 2.2em;
  width: 2.2em;
  padding: 0.3em;
  margin-right: 1em;
}
.Banner {
  background-image: url("runtime-records-backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  padding: 10em 20%;
  color: white;
  display: flex;
}
.Banner h5 {
  margin-bottom: 2em;
}
.Banner .Infoblock {
  width: 50%;
}
.Banner .BannerLp {
  position: relative;
  margin-left: 1em;
}
.Banner .BannerLp .Lp {
  width: 30em;
}
.Banner .Buttonbar {
  margin: 0;
  margin-top: 3em;
  display: flex;
  gap: 40%;
}
.Banner .price {
  position: absolute;
  top: -1em;
  left: -1em;
  padding: 0.7em 0.3em;
  width: 3em;
  height: 3em;
}
.Banner .Arrow {
  font-size: 1.5em;
  margin: 0 0.7em;
  padding: 0.5em 0;
}
.Producttile {
  width: 100%;
  position: relative;
  margin-top: 2em;
}
.Producttile .price {
  position: absolute;
  top: -1em;
  right: -1em;
  padding: 0.7em 0.3em;
  width: 3em;
  height: 3em;
}
.Producttile h4 {
  font-size: 1.2em;
}
.Producttile h5 {
  text-align: right;
}
.Producttile .Shopitem {
  display: flex;
  justify-content: space-between;
}
.Producttile .ShoppingButton {
  font-size: 1em;
  margin-left: 1em;
  padding: 0.5em 0;
}
.Searchbar {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 40px;
  width: 25em;
  height: 5.5em;
  padding: 0;
  padding-left: 1em;
  display: flex;
  justify-content: baseline;
  margin: 0 auto;
}
.Filter .buttons {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.Filter button {
  background-color: black;
  color: white;
  width: 2.5em;
  height: 2.5em;
  cursor: pointer;
}
.Filter .dropdown {
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  z-index: 10000;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0;
  position: absolute;
}
.Filter .dropdown ul {
  text-decoration: none;
  margin-left: 0;
  padding: 0 10%;
}
.Filter .dropdown ul li {
  font-size: 1em;
  padding: 0.6em 1em;
  border-bottom: 1px solid white;
  list-style: none;
  cursor: pointer;
  width: 100%;
  margin: 0;
}
.Filter .dropdown ul .last {
  border-bottom: 0;
}
.Footerblock {
  width: 50%;
  margin: 0 1.5em;
}
.Footerblock .linkblock {
  margin: 0.8em 0;
  height: 1.5em;
}
.Socialblock {
  width: 50%;
  margin: 0 1.5em;
}
.Socialblock .sociallink {
  display: flex;
  margin: 0.8em;
}
.Socialblock .sociallink .Icon {
  margin-right: 1.5em;
  height: 1.5em;
}
.Socialblock .sociallink a {
  padding: 0;
}
.Details {
  margin: 10em 15% 5em 15%;
  display: flex;
  gap: 2em;
}
.Details .Infoblock {
  width: 50%;
}
.Details .Infoblock h1 {
  margin-top: -0.3em;
}
.Details .Infoblock p {
  margin: 1em 0;
}
.Details .BannerLp {
  position: relative;
  margin-left: 0.5em;
}
.Details .BannerLp .Lp {
  width: 30em;
}
.Details .Buttonbar {
  margin-top: 4em;
  display: flex;
  gap: 1em;
  justify-content: right;
}
.Details .Buttonbar h4 {
  font-size: 1em;
  padding: 0.8em 0.2em;
}
.Details .price {
  position: absolute;
  top: -1em;
  left: -1em;
  padding: 0.7em 0.3em;
  width: 3em;
  height: 3em;
}
.Cartitem {
  margin: 0;
  padding: 2em 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}
.Cartitem img {
  width: 20%;
}
.Cartitem .Iteminfo {
  display: flex;
  gap: 2em;
}
.Cartitem .Iteminfo .Titles {
  margin: 2em 1em;
}
.Cartitem .options {
  display: flex;
  gap: 2em;
  margin: auto 0;
}
.Cartitem .options .price {
  padding: 1.2em 0.7em;
  border-radius: 50px;
  width: 5em;
  height: 5em;
}
.Cartitem .options .price h5 {
  font-size: 1.4em;
}
.Cartitem .options .delete {
  margin: 2em 0;
  size: 5em;
}
.Total {
  margin: 2em 0%;
}
.Total .Buttonbar {
  margin-top: 4em;
  display: flex;
  justify-content: right;
  gap: 2em;
}
.Total .Buttonbar h4 {
  font-size: 1.2em;
}
.Total .Buttonbar .arrow {
  margin: 0.1em 0;
  font-size: 1.5em;
}
.Total .Buttonbar .shoppingcart {
  color: white;
  border-radius: 30px;
  padding: 0.5em 0.4em;
}
.Total .Totalprice {
  display: flex;
  justify-content: space-between;
}
.Total .Totalprice h3 {
  margin: 0.3em 0;
}
.Total .Totalprice .price {
  padding: 1.8em 1em;
  border-radius: 70px;
  width: 7em;
  height: 7em;
}
.Total .Totalprice .price h5 {
  font-size: 2em;
}
.Productsection {
  width: 80%;
  margin: 0 10%;
}
.Productsection .Products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3em;
  align-items: center;
}
.Productsection .cijfers {
  margin: 2em auto;
  display: flex;
  justify-content: center;
}
footer {
  padding: 3em 10%;
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}
footer .footertext {
  display: flex;
  width: 50%;
}
footer h3 {
  font-size: 1.4em;
}
.Filterbar {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  margin: 3em auto;
}
.Suggested {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3em;
  align-items: center;
  width: 80%;
  margin: 0 10%;
}
.Menu {
  position: fixed;
  top: 3.5em;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}
.Menu .menuitems {
  margin: 5em 20%;
}
.Menu .menuitems a {
  color: black;
}
.Menu .menuitems h1 {
  font-size: 3.5em;
  border-bottom: 1px solid black;
  padding: 0.5em 0;
}
.Home {
  font-size: 1.2em;
}
.Shoppingcart {
  padding: 5em 20% 5em 20%;
}
.Shadow {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.19);
}

button {
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */