.Shoppingcart {
padding: 5em 20% 5em 20%;


  // XS - Phone
  @media (max-width: 480px) {
    padding: 5em 5% 0 5%;
  
    h1 {
      font-size: 1.5em;
      margin-bottom: 1em;
    }
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    padding-bottom: 0;
    h1{
      font-size: 2em;
    }
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}