.Total {
  margin: 2em 0%;

  .Buttonbar {
    margin-top: 4em;
    display: flex;
    justify-content: right;
    gap: 2em;
    

    h4 {
      font-size: 1.2em;
    }

    .arrow{
      margin: 0.1em 0;
      font-size: 1.5em;
    }

    .shoppingcart {
      color: white;
      border-radius: 30px;
      padding: 0.5em 0.4em;


    }

  }

  .Totalprice {
    display: flex;
    justify-content: space-between;

    h3 {
      margin: 0.3em 0;
    }
    
    .price {
        padding: 1.8em 1em;
        border-radius: 70px;
        width: 7em;
        height: 7em;

        h5 {
          font-size: 2em;
        }
    }

  }
    // XS - Phone
    @media (max-width: 480px) {
      .Buttonbar {
        margin-top: 2em;
        margin-right: 1.5em;
        gap: 0.8em;
   

        .shoppingcart {
          padding: 0.55em 0.5em;
        }
        
        .arrow{
          margin: 0.2em 0;
        }
      }
      .Totalprice {
        .price {
            padding: 1em 0.6em;
            margin-top: -1em;
            border-radius: 70px;
            width: 4em;
            height: 4em;
            margin-right: 1.5em;
    
            h5 {
              font-size: 1.2em;
            }
        }
    }
    }

    // S - Tablet
    @media (min-width: 481px) and (max-width: 768px) {
      .Buttonbar {
        margin-top: 3em;
        gap: 1em;
        
        .arrow{
          margin: 0.2em 0;
        }
      }
      .Totalprice {
        .price {
            padding: 1.6em 1em;
            border-radius: 70px;
            width: 6em;
            height: 6em;
            margin-right: 1em;
    
            h5 {
              font-size: 1.7em;
            }
        }
    }
}
}