.Banner {
  background-image: url("runtime-records-backdrop.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  margin-top: 0;
  padding: 10em 15%;

  color: white;

  display: flex;

  h5 {
    margin-bottom: 2em;
  }
 
  .Infoblock {
    width: 50%;
  }

  .BannerLp {
    position: relative;

    .Lp {
      width: 30em;
    }
    
    margin-left: 0.5em;
  
  }
  .Buttonbar {
    margin: 0;
    margin-top: 3em;
    display: flex;
    gap: 40%;

  }

  .price {
    position:absolute;
    top: -1em;
    left: -1em;

    padding: 0.7em 0.3em;
    width: 3em;
    height: 3em;
  }

  .Arrow {
    font-size: 1.5em;
    margin: 0 0.7em;
    padding: 0.5em 0;
    
  }



  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}