.ShoppingButton {
  display: flex;
  justify-content: space-between;

  .Arrow {
    margin: 1em 0.5em 1em 0;
  }


  // XS - Phone
  @media (max-width: 480px) {
    .Arrow {
      margin: 1.1em 0.2em 1em 0;
    }
  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}