.price {
  border-radius: 30px;
  padding: 0.7em 0.3em;
  width: 3em;
  height: 3em;
  color: white;



  // uitvogelen hoe ik price over afbeelding zet
  

  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}