.Productsection {
  width: 80%;
  margin: 0 10%;

  .Products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3em;

    align-items:center;
  }

  .cijfers {
    margin: 2em auto;

    display: flex;
    justify-content: center;

  }


  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}