.Productsection {
  width: 80%;
  margin: 0 10%;

  .Products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3em;

    align-items:center;
  }



  .Pages {
    font-size: 2em;
    display: flex;
    margin: 1em auto;
    justify-content:center;

    .Page {
      margin: 0 0.4em;
      font-size: 0.6em;
      cursor: pointer;
      border-radius: 30px;
      width: 1.5em;
      height: 1.5em;
      padding: 0 0.45em;

      &:hover {
        background-color: #e84e0f;
        color: white;
      }
    }
    .active {
      background-color: #e84e0f;
      color: white;
    }
  }

  // XS - Phone
  @media (max-width: 480px) {

  .Products {
    grid-template-columns: 1fr;
  }
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {

    .Products {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}