footer {
  padding: 3em 20%;
  margin-top: 5em;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3em;
  
  background-color: black;
  color: white;

.footertext {
  display: flex;
  gap: 6em;
}

h3 {
  font-size: 1.4em;
}

@media (max-width: 480px) {
 grid-template-columns: 1fr;
 padding: 10%;
 
  .footertext {
    gap: 1em;
    font-size: 0.7em;
    margin: 0;
    padding: 0;

    h3 {
      font-size: 1em;
    }
  }
  .OrangeLogo {
    margin: 0 auto;
  }
}

// S - Tablet
@media (min-width: 481px) and (max-width: 768px) {
  padding: 3em 10%;

  .footertext {
    gap: 1em;
    font-size: 0.7em;
    padding: 0;

    h3 {
      font-size: 1.5em;
    }
  }
}

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}