footer {
  padding: 3em 10%;
  margin-top: 5em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  
  background-color: black;
  color: white;

.footertext {
  display: flex;
  width: 50%;
}
h3 {
  font-size: 1.4em;
}



  // XS - Phone
  @media (max-width: 480px) {

  }

  // S - Tablet
  @media (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}