.Input {
  border: none;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: 'heading';
  padding: 0.2em 0.8em;

  &:focus {
    outline: none;
  }

  // XS - Phone
  @media (max-width: 480px) {
    width: 85%;
    margin:  0;
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    width: 85%;
    margin: 0;
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}