.Suggested {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3em;

  align-items:center;

  width: 80%;
  margin: 0 10%;

  // XS - Phone
  @media (max-width: 480px) {
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    margin: 0;
    padding: 0 5%;
    width: 100%;
   
    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 0.8em;
    }
    h5 {
      font-size: 0.6em;
    }

    .price h5 {
      font-size: 1em;
    }
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0 5%;
    width: 100%;

    h3 {
      font-size: 1.2em;
    }
    h4 {
      font-size: 0.8em;
      margin-bottom: 0;
      width: 100%;
    }
    h5 {
      font-size: 0.6em;
      
    }
    .price h5 {
      font-size: 1em;
    }
    

  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}