.Details {
  margin: 10em 15% 5em 15%;

  display: flex;
  gap: 2em;

  .Infoblock {
    width: 50%;

    h1 {
      margin-top: -0.3em;
    }

    p {
      margin: 1em 0;
    }
  }

  .BannerLp {
    position: relative;

    .Lp {
      width: 30em;
    }
    
    margin-left: 0.5em;
  
  }
  .Buttonbar {
    margin-top: 4em;
    display: flex;
    gap: 1em;
    justify-content: right;
    

    h4 {
      font-size: 1em;
      padding: 0.8em 0.2em;
    }
  }

  .price {
    position:absolute;
    top: -1em; 
    left: -1em;

    padding: 0.9em 0.4em;
    width: 4em;
    height: 4em;

     h5{
      font-size: 1.4em;
     }
  }


  // XS - Phone
  @media (max-width: 480px ) {
    display: block;
    margin: 5em 10% 2em 10%;
    
    .BannerLp {
    width: 100%;
  }
  .Infoblock {
    width: 100%;
    padding: 0 0.8em;
    margin-top: 2em;
    font-size: 1em;
    h1 {
      font-size: 2em;
    }
    h2{
      font-size: 1.5em;
      margin-top: -0.4em;
    }
    p{
      line-height:1.5em;
    }
  }
    .Buttonbar{
      margin-top: 0;
      margin-bottom: 4em;
    }
    
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    margin: 8em 10% 3em 10%;

    .Infoblock {
      width: 70%;

      h1 {
        font-size: 2em;
      }
      h2 {
        font-size: 1.2em;
        margin-top: -0.5em;
      }
      p {
        font-size: 0.8em;
      }
    }
    .Buttonbar {
      margin-top: 0;
      margin-bottom: 1.2em;
    }
   
  }

  // M - Tablet/Laptop
  @media (max-width: 1024px) {

  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}