.Searchbutton {
  border-radius: 100%;
  border: none;
  background-color: white;
  padding: 0;
  margin-right: 0;

  img {
    width: 3em;
  }

  // XS - Phone
  @media (max-width: 480px) {
    img {
      width: 2em;
      height: 2em;
    }
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {

  }

  // M - Tablet/Laptop
  @media (min-width: 481px) and (max-width: 768px) {
    margin-right: 0.5em;
  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}