.Searchbar {
  border: 2px solid rgb(0,0,0,0.4);
  border-radius: 40px;
  width: 25em;
  height: 5.5em;
  padding: 0;
  padding-left: 1em;

  display: flex;
  justify-content: baseline;
  


  // XS - Phone
  @media (max-width: 480px) {
    width: 90%;
    margin: 0 5%;
    height: 3em;
    margin-bottom: 1em;
  }

  // S - Tablet
  @media (min-width: 481px) and (max-width: 768px) {
    margin: 0 auto;
    height: 4em;
    width: 20em;
  }

  // M - Tablet/Laptop
  @media (min-width: 769px) and (max-width: 1024px) {
    margin: 0 auto;
  }

  // L - High Res
  @media (max-width: 1200px) {

  }

  // XL - Ultra High Res
  @media (min-width: 1201px) {

  }

}